# 11.1

In [36]:
from datetime import datetime
import pandas as pd
import numpy as np

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2021, 6, 25, 17, 40, 55, 15262)

In [4]:
now.year, now.month, now.day

(2021, 6, 25)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [6]:
delta

datetime.timedelta(926, 56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [10]:
from datetime import timedelta

In [11]:
start = datetime(2011, 1, 7)

In [12]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [13]:
start - 2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [14]:
stamp = datetime(2011,1,3)

In [15]:
str(stamp)

'2011-01-03 00:00:00'

In [17]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [18]:
value = '2011-01-03'

In [19]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [20]:
datestrs = ['7/6/2011', '8/6/2011']

In [21]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [22]:
from dateutil.parser import parse

In [23]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [24]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [25]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [26]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [28]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [29]:
idx = pd.to_datetime(datestrs+[None])

In [30]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [31]:
idx[2]

NaT

In [33]:
pd.isnull(idx)

array([False, False,  True])

In [34]:
from datetime import datetime

In [35]:
dates = [datetime(2011,1,2),datetime(2011,1,5),
        datetime(2011,1,7), datetime(2011,1,8),
        datetime(2011,1,10), datetime(2011,1,12)]

In [37]:
ts = pd.Series(np.random.randn(6), index=dates)

In [38]:
ts

2011-01-02    0.496643
2011-01-05   -0.871052
2011-01-07    1.516587
2011-01-08    0.118293
2011-01-10   -1.112695
2011-01-12    0.261324
dtype: float64

In [39]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [40]:
ts + ts[::2]

2011-01-02    0.993285
2011-01-05         NaN
2011-01-07    3.033174
2011-01-08         NaN
2011-01-10   -2.225390
2011-01-12         NaN
dtype: float64

In [41]:
ts.index.dtype

dtype('<M8[ns]')

In [42]:
stamp = ts.index[0]

In [43]:
stamp

Timestamp('2011-01-02 00:00:00')

In [44]:
stamp = ts.index[2]

In [45]:
ts[stamp]

1.516586991582732

In [46]:
ts['1/10/2011']

-1.1126947920612216

In [47]:
ts['20110110']

-1.1126947920612216

In [48]:
longer_ts = pd.Series(np.random.randn(1000),
                     index=pd.date_range('1/1/2000', periods=1000))

In [49]:
longer_ts

2000-01-01    0.051274
2000-01-02   -1.152437
2000-01-03    0.445400
2000-01-04   -2.543851
2000-01-05    0.713583
                ...
2002-09-22   -0.646370
2002-09-23    0.597200
2002-09-24   -1.550619
2002-09-25   -0.327632
2002-09-26   -1.354960
Freq: D, Length: 1000, dtype: float64

In [50]:
longer_ts['2001']

2001-01-01    1.417259
2001-01-02    0.712161
2001-01-03    1.168320
2001-01-04   -0.452700
2001-01-05   -0.380922
                ...
2001-12-27    0.470927
2001-12-28   -0.361695
2001-12-29   -0.643740
2001-12-30   -0.434387
2001-12-31    0.913319
Freq: D, Length: 365, dtype: float64

In [51]:
longer_ts['2001-05']

2001-05-01    0.601087
2001-05-02   -0.092000
2001-05-03   -0.211032
2001-05-04   -0.931797
2001-05-05    1.212156
2001-05-06    0.449261
2001-05-07    1.666341
2001-05-08    1.106170
2001-05-09    1.646280
2001-05-10    0.141112
2001-05-11   -1.523621
2001-05-12   -2.704597
2001-05-13    1.195617
2001-05-14   -1.363317
2001-05-15   -0.262258
2001-05-16   -0.690267
2001-05-17    0.341031
2001-05-18   -1.566994
2001-05-19   -0.872629
2001-05-20   -0.530253
2001-05-21   -0.527812
2001-05-22   -1.259915
2001-05-23   -1.666961
2001-05-24    0.662763
2001-05-25    0.709952
2001-05-26    1.502509
2001-05-27   -0.858766
2001-05-28   -0.524160
2001-05-29   -0.277604
2001-05-30   -1.149504
2001-05-31   -0.085684
Freq: D, dtype: float64

In [52]:
ts[datetime(2011,1,7):]

2011-01-07    1.516587
2011-01-08    0.118293
2011-01-10   -1.112695
2011-01-12    0.261324
dtype: float64

In [53]:
ts

2011-01-02    0.496643
2011-01-05   -0.871052
2011-01-07    1.516587
2011-01-08    0.118293
2011-01-10   -1.112695
2011-01-12    0.261324
dtype: float64

In [54]:
ts['1/6/2011':'1/11/2011']

2011-01-07    1.516587
2011-01-08    0.118293
2011-01-10   -1.112695
dtype: float64

In [55]:
ts.truncate(after='1/9/2011')

2011-01-02    0.496643
2011-01-05   -0.871052
2011-01-07    1.516587
2011-01-08    0.118293
dtype: float64

In [56]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [57]:
long_df = pd.DataFrame(np.random.randn(100,4),
                      index=dates,
                      columns=['Colorado', 'Texas',
                              'New York', 'Ohio'])

In [58]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.540553  0.802981 -1.026836  0.325322
2001-05-09 -0.292675  0.533831 -0.101876 -1.310794
2001-05-16  1.370412 -1.156388  0.267897 -0.143557
2001-05-23  2.362322  1.283037  0.762917 -2.073849
2001-05-30  1.689567 -0.162896 -0.654151 -0.840426